*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{

}
button:hover{
    cursor: pointer;
}
.text{
    font-size: 1.5em;
    font-weight: 500;
}
.fullContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    height: 40em;
    margin: auto;
    margin-top: 2em;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.pcOrUser{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    background-color: rgba(211, 211, 211, 0.226);
    padding-bottom: 2em;
    border-radius: 1em;
}
.text{
    margin-top: 1em;
}
.buttonPcOrUser button{
    margin-top: 2em;
    width: 12em;
    padding: 8px;
    background-color:rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    border-radius: 5px;
}



.ticTacToeTable{
    width:100%;
    margin-top: 1em;
    display: none;
    justify-content: space-around;

}


.counters{
    display: flex;
    flex-direction: column;
    justify-content: center;
}






.game-board
{
    display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	width: 300px;
	height: 300px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 8px solid #000000;
  border-radius: 5px;
  padding: 5px;
  animation: example 2s forwards;
  /*display: none;	
*/
}
@keyframes example {
    from {height: 50px;}
    to {height: 300px;}
  }
.box
{
  border: 6px solid #000000;
  border-radius: 0px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxPc{
    display: initial;
}
#nameOther{
    width: 5em;
}
.nameYou{
    width: 5em;
}
.popUpWinOrLose{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.596);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 20em;
    height: 20em;
    animation: movingConf 1s forwards linear;
}
@keyframes movingConf {
    from {
    font-size: 0em;
      height: 0px;
      width: 0px;
    }
  }
.xOrO{
    font-size: 10em;
}


@media only screen and (max-width: 600px) {
  .fullContainer{
      width: 100%;
  }
  .pcOrUser{
      width: 95%;
      margin: 0px auto 3em;
  }
  .game-board{
      width: 250px;
      height: 250px;
      padding: 0px;
  }
 #nameOther{
     width: 4em;
 }
 .nameYou{
     width: 4em;
 }
 .box{
     font-size: 3em;
     display: flex;
 }
  @keyframes example {
    from {height: 50px;}
    to {height: 250px;}
  }
  }